* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: white;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  width: 400px;
  color: white;
  background-color: #141922;
}

.profile-img {
  width: 400px;
  height: 300px;
  margin-top: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 0;
  background-color: #141922;
}
.name h1 {
  font-size: 25px;
  padding-bottom: 10px;
}
.name p {
  font-size: 14px;
}

.btns {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.env-btn {
  height: 35px;
  width: 80px;
  background-color: white;
  border-radius: 10px;
  padding-right: 5px;
  border: none;
  cursor: pointer;
}
.envelope {
  width: 20px;
  background-color: white;
}

.tweet-btn {
  height: 35px;
  width: 80px;
  background-color: #00acee;
  border-radius: 10px;
  padding-right: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.twitter {
  width: 20px;
  background-color: #00acee;
}
.about {
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.about h3 {
  font-weight: 400;
  padding-bottom: 6px;
  font-size: 20px;
}
.about p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: start;
}

.interest {
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.interest h3 {
  font-weight: 400;
  padding-bottom: 6px;
  font-size: 20px;
}
.interest p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: start;
}
